.header{
    position:absolute;
    top: 0;
    width: 100%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    z-index: 2;
    font-family: 'Poppins', sans-serif;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.nav-menu-wrapper {
    display: grid;
    grid-template-columns: auto 80%;
    justify-content: space-between;
}

.nav-menu-wrapper .logo {
    padding-left: 1.5rem;
    order: 1;
}

.nav-menu-wrapper .menu-icon {
    width: 15px;
    height: 15px;
    padding-right: 1.5rem;
    order: 3;
}

.nav-menu-wrapper .items{
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-evenly;
    order: 2;
    
}

.nav-menu-wrapper .menu-icon{
    display: none;
}

@media only screen and ( max-width: 475px){



    .header{
        border-bottom: 0px;
    }

    .nav-menu-wrapper {
        display: grid;
        grid-template-columns: auto auto;
        justify-content: space-between;
        
    }
    .nav-menu .items {
        overflow: hidden;
        height: 0px;
        order: 3;
        grid-column: 1/3;
        transition: height 0.4s linear;
        
    }

    .items.show {
        height: 8rem;
    }

    .nav-menu .menu-icon{
        display: block;
        order: 2;
    }

    .nav-menu .item {
        text-align: center;
        background-color: rgba(0, 0, 0, 0.4);
        width: 100%;

    }

    .nav-menu-wrapper .items{
        margin-top: 0.7rem;
        display: grid;
        grid-template-columns: 100%;
        order: 3;
        
        
    }
}

.header a {
    color: inherit;
    text-decoration: none;
    transition: color 0.4s ease;
}

.header a:hover{
    color: rgba(255,255,255,0.65);
}










